@import url('https://fonts.googleapis.com/css2?family=Comic+Neue');

html{
  font-family: 'Comic Neue', cursive;
}
body{
  background-color: #002233;
}

.text-gradient{
  @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-blue-600;
}
.text-light{
  color: #98b6f6;
  text-shadow: 0.1em 0.1em 0 black;
}
