@import url('https://fonts.googleapis.com/css2?family=Comic+Neue');

html {
  font-family: 'Comic Neue', cursive;
  scroll-behavior: smooth;
  
}
body {
  background-color: #001c30;

}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-blue-600;
}
.text-light {
  color: rgb(152, 182, 246);
  text-shadow: 0.085em 0.085em 0 black;
}
.bg-light {
  background-color: #98b6f6;
}
.h_mobile-100 {
  min-height: calc(var(--vh, 1vh) * 100);
}
.h_mobile-84 {
  min-height: calc(var(--vh, 1vh) * 84);
}
.dropdown-center .dropdown-content {
  transform: translateX(-50%);
  left: 50%;
}
.hr {
  @apply border-double border-b-4 border-[#98b6f6] border-opacity-50;
  width: 40%;
  margin: auto;
}
.absolute-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

  /* width */
::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #98b6f6; 
}

::-webkit-scrollbar-thumb:hover::-webkit-scrollbar {
  width: 10px;
}

